autotools-dev
build-essential
zlib1g-dev
libjpeg-dev
exif
libimage-exiftool-perl
swig
libffi-dev
libsasl2-dev
libldap2-dev
libzmq3-dev
liblzma5
libfuzzy-dev
unzip
zip
git
libtool
autoconf
jq
libmilter-dev
libtiff5-dev
p7zip-full
unrar
ruby
ruby-dev
liblzma-dev
automake
make
gcc
cmake
vim
rsync
libre2-dev
telnet
libzbar0
libsnappy-dev
unixodbc-dev
python3-dbg
llvm-10
clang-10
perl
openjdk-11-jdk-headless
