p7zip-full
unrar
unzip
zip
exif
libimage-exiftool-perl
openjdk-11-jre-headless
libzmq5
libfuzzy2
libre2-9
liblzma5
libsnappy1v5
zlib1g
libjpeg-turbo8
libtiff5
libzbar0
libffi7
libmagic1
libssl3
dumb-init
locales
jq
ca-certificates
