autotools-dev
build-essential
automake
autoconf
libtool
make
gcc
cmake
zlib1g-dev
liblzma5
liblzma-dev
libsnappy-dev
p7zip-full
unrar
unzip
zip
libjpeg-dev
libtiff-dev
libzbar0
libzmq3-dev
libfuzzy-dev
libffi-dev
swig
exif
libimage-exiftool-perl
libre2-dev
llvm-18
openjdk-21-jdk-headless
jq
git
